.flight-search-code {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flight-search-date {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flight-search-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
